<p>Please set your new password</p>

<% @errors.full_messages.each do |msg| -%>
  <%= msg -%><br/>
<% end if @errors.present? %>

<%= form_tag change_password_path, method: :post do -%>
Password: <%= password_field_tag "password" -%><br/>
Password confirmation: <%= password_field_tag "password_confirmation" -%><br/>
<%= hidden_field_tag 'token', @token -%>
<%= submit_tag "Update password" -%>
<% end %>
