<h1>Register</h1>

<% @user.errors.full_messages.each do |message| %>
  <%= message -%><br/>
<% end %>
<%= form_for(@user, url: user_create_path, method: :post)  do |f| -%>
  Email: <%= f.text_field :email -%><br/>
  Password: <%= f.password_field :password -%><br/>
  Password confirmation: <%= f.password_field :password_confirmation -%><br/>
  <%= f.submit -%>
<% end %>
