<h1>Welcome <%= @user.username -%></h1>

<h2>Edit your profile</h2>

<% flash.each do |k, v| -%>
  <%= v -%>
<% end -%>

<% @user.errors.full_messages.each do |msg| -%>
  <%= msg -%><br/>
<% end %>

<%= form_for(@user, url: user_update_path, method: :post) do |f| -%>
  Email: <%= f.text_field :email, disabled: true -%><br/>
  Username: <%= f.text_field :username -%><br/>
  Password: <%= f.password_field :password -%><br/>
  <%= f.submit -%>
<% end %>
